:root {
    --main-black: #161A1D;
    --main-white: #FFFFFF;
    --soft-gray: #D3D3D3;
    --dark-gray: #B1A7A6;
    --red: #E5383B;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
}

header {
    z-index: 1;
    background: var(--main-white);
    position: fixed;
    display: flex;
    width: 100%;
    min-width: 320px;
    height: 10vh;
    align-items: center;
    justify-content: space-between;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    & .menu-button {
        background: transparent;
        border: 0;
        position: relative;
        width: 3.5rem;
        height: 2.4rem;
        cursor: pointer;
        margin-left: 4.5rem;

        & div {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 4px;
            transition: all 0.5s, background 0s;
            background: var(--main-black);
            border-radius: 5px;

            &:nth-child(2) {
                top: 10px;
            }

            &:last-child {
                top: 20px;
            }
        }
    }

    .nav-open {
        div {

            &:first-child,
            &:last-child {
                top: 8px;
            }

            &:first-child {
                transform: rotate(45deg);
            }

            &:last-child {
                transform: rotate(-45deg);
            }

            &:nth-child(2) {
                opacity: 0;
                visibility: hidden;
            }
        }
    }

    & .logo {
        width: 5.5rem;
        height: 5.5rem;
        max-height: 80%;
        margin-right: 4.5rem;
    }
}

.mobile-menu {
    position: fixed;
    width: 100vw;
    height: 90vh;
    top: 10vh;
    left: calc(-100% - 24px);
    padding: 0 3.5rem;
    transition: 500ms;
    background-color: var(--main-white);
    display: flex;
    flex-direction: column;

    & ul {
        list-style: none;
        padding: 4rem 0;
    }

    & li {
        margin: 1rem 1.5rem;
    }

    & .mobile-menu--sections {
        border-bottom: 2px solid var(--main-black);
    }

    & .mobile-menu--sections a {
        font-size: 2.4rem;
        font-weight: 600;
        color: var(--main-black);
    }

    & .mobile-menu--contact-info a {
        font-size: 1.6rem;
        font-weight: 500;
        color: var(--main-black);
    }
}

.slide-rigth {
    left: 0;
}

main {
    & section {
        width: 100vw;
        height: 100vh;
    }

    & .about-us {
        & .about-us--hero {
            width: inherit;
            height: inherit;
            background-image: url(https://i.postimg.cc/NjbjVs0H/hero-img-mobile-compressed.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;

            & .about-us--hero--transparency {
                width: 100%;
                height: 100%;
                background-color: rgba(22, 26, 29, 0.5);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                & h1 {
                    font-size: 3.2rem;
                    font-weight: 700;
                    color: var(--main-white);
                    margin: 0 1.8rem;
                    text-align: center;
                }

                & .about-us--services-button {
                    width: 201px;
                    height: 45px;
                    background: var(--main-white);
                    border: none;
                    border-radius: 5px;
                    margin-top: 3.2rem;

                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 17px;
                    text-align: center;
                    color: var(--main-black);
                }

                & .about-us--contact-button {
                    width: 201px;
                    height: 45px;
                    background: var(--main-black);
                    border: none;
                    border-radius: 5px;
                    margin-top: 2.4rem;
                    border: 1px solid #FFFFFF;

                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 17px;
                    text-align: center;
                    color: var(--main-white);
                }
            }
        }
    }

    & .services {
        padding: 0 2.4rem;

        & h3 {
            font-size: 1.6rem;
            font-weight: 600;
            color: var(--main-black);
        }

        & p {
            font-size: 1.2rem;
            font-weight: 600;
            color: var(--dark-gray);
        }

        & .services--title {
            text-align: center;
            margin-top: 4rem;

            & h2 {
                font-size: 2.2rem;
                font-weight: 700;
                color: var(--main-black);
                margin-bottom: .8rem;
            }
        }

        & .services--info {
            &>div {
                margin: 2.4rem 0;

                &>* {
                    margin: .8rem;
                }
            }

            .services--icon {
                height: 3rem;
                width: 3rem;
                background-repeat: no-repeat;
                background-position: center;
            }

            .spare--icon {
                background-image: url(./assets/icons/tire.svg);
            }

            .maintenance-icon {
                background-image: url(./assets/icons/car_repair.svg);
            }

            .repairs-icon {
                background-image: url(./assets/icons/tools.svg);
            }

            .upholstery-icon {
                background-image: url(./assets/icons/needle.svg);
            }
        }
    }
}