:root {
    --main-black: #161A1D;
    --main-white: #FFFFFF;
    --soft-gray: #D3D3D3;
    --dark-gray: #B1A7A6;
    --red: #E5383B;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}

body {
    overflow-x: hidden;
    max-width: 100%;
}

a {
    text-decoration: none;
    cursor: pointer;
}

li {
    cursor: pointer;
}

button {
    cursor: pointer;
}

img {
    width: auto;
    height: auto;
}

header {
    z-index: 1;
    background: var(--main-white);
    position: sticky;
    top: 0;
    display: flex;
    width: 100vw;
    min-width: 320px;
    height: 10vh;
    align-items: center;
    justify-content: space-between;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: 300ms;

    & .menu-button {
        background: transparent;
        border: 0;
        position: relative;
        width: 3.5rem;
        height: 2.4rem;
        cursor: pointer;
        margin-left: 4.5rem;

        & div {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 4px;
            transition: all 0.5s, background 0s;
            background: var(--main-black);
            border-radius: 5px;

            &:nth-child(2) {
                top: 10px;
            }

            &:last-child {
                top: 20px;
            }
        }
    }

    .nav-open {
        div {

            &:first-child,
            &:last-child {
                top: 8px;
            }

            &:first-child {
                transform: rotate(45deg);
            }

            &:last-child {
                transform: rotate(-45deg);
            }

            &:nth-child(2) {
                opacity: 0;
                visibility: hidden;
            }
        }
    }

    & .logo {
        width: 5.5rem;
        height: 5.5rem;
        max-height: 80%;
        margin-right: 4.5rem;
    }

    & nav {
        display: none;
    }

    & .header--contact {
        display: none;
    }
}

.hide-header {
    top: -11vh;
}

.mobile-menu {
    position: fixed;
    width: 100vw;
    height: 90vh;
    top: 10vh;
    left: calc(-100% - 24px);
    padding: 0 3.5rem;
    transition: 500ms;
    background-color: var(--main-white);
    display: flex;
    flex-direction: column;
    z-index: 1;

    & ul {
        list-style: none;
        padding: 4rem 0;
    }

    & li {
        margin: 1rem 1.5rem;
    }

    & .mobile-menu--sections {
        border-bottom: 2px solid var(--main-black);
    }

    & .mobile-menu--sections li {
        font-size: 2.4rem;
        font-weight: 600;
        color: var(--main-black);
    }

    & .mobile-menu--contact-info a,
    div {
        font-size: 1.6rem;
        font-weight: 500;
        color: var(--main-black);
    }
}

.slide-rigth {
    left: 0;
}

main {
    & section {
        width: 100vw;
        height: 72rem;
    }

    & .about-us {
        height: 90vh;

        & .about-us--hero {
            width: inherit;
            height: inherit;
            background-image: url(https://i.postimg.cc/NjbjVs0H/hero-img-mobile-compressed.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;

            & .about-us--hero--transparency {
                width: 100%;
                height: 100%;
                background-color: rgba(22, 26, 29, 0.5);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                & h1 {
                    font-size: 3.2rem;
                    font-weight: 700;
                    color: var(--main-white);
                    margin: 0 1.8rem;
                    text-align: center;
                }

                & .about-us--buttons {
                    display: flex;
                    flex-direction: column;

                    & .about-us--services-button {
                        width: 201px;
                        height: 45px;
                        background: var(--main-white);
                        border: none;
                        border-radius: 5px;
                        margin-top: 3.2rem;

                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 14px;
                        line-height: 17px;
                        text-align: center;
                        color: var(--main-black);
                    }

                    & .about-us--contact-button {
                        width: 201px;
                        height: 45px;
                        background: var(--main-black);
                        border: none;
                        border-radius: 5px;
                        margin-top: 2.4rem;
                        border: 1px solid #FFFFFF;

                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 14px;
                        line-height: 17px;
                        text-align: center;
                        color: var(--main-white);
                    }

                    & .about-us--services-button:hover {
                        background-color: var(--soft-gray);
                    }

                    & .about-us--contact-button:hover {
                        background-color: var(--dark-gray);
                    }
                }

                & p {
                    font-size: 1.6rem;
                    font-weight: 600;
                    color: var(--main-white);
                    text-align: center;
                    margin: 0 1.8rem;
                    position: relative;
                    top: 5.6rem;
                }
            }
        }
    }

    & .services {
        padding: 4rem 2.4rem;

        & h3 {
            font-size: 1.6rem;
            font-weight: 600;
            color: var(--main-black);
        }

        & p {
            font-size: 1.2rem;
            font-weight: 600;
            color: var(--dark-gray);
        }

        & .services--title {
            text-align: center;
            margin-bottom: 4.8rem;
            /* margin-top: 4rem; */

            & h2 {
                font-size: 2.2rem;
                font-weight: 700;
                color: var(--main-black);
                margin-bottom: 1.6rem;
            }
        }

        & .services--info {
            &>div {
                margin: 2.4rem 0;

                &>img {
                    width: 25px;
                    height: 25px;
                }

                &>* {
                    margin: .8rem;
                }

                & img {
                    margin: 0 .8rem;
                }
            }
        }
    }

    & .contact-us {
        background-color: var(--main-black);
        display: flex;
        flex-direction: column;
        align-items: center;

        & * {
            color: var(--soft-gray);
            font-size: 1.4rem;
            text-align: center;
        }

        & h2 {
            color: var(--main-white);
            font-size: 2.2rem;
            font-weight: 700;
            margin-bottom: 3.2rem;
            margin-top: 4rem;
        }

        & .contact-us--info {
            margin-bottom: .8rem;

            &>div {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: .8rem 0;

                & a,
                div {
                    display: flex;
                    margin-top: .8rem;
                    align-items: center;
                }
            }

            & img {
                margin-right: .8rem;
                max-width: 3rem;
                max-height: 2.4rem;
            }

            & iframe {
                margin-top: .8rem;
            }
        }

        &>p {
            margin-bottom: .8rem;
        }
    }
}

footer {
    width: 100vw;
    height: 8rem;
    background-color: var(--dark-gray);
    color: var(--main-white);
    font-size: 1.2rem;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;

    & ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 30rem;
        list-style: none;
        text-align: center;
    }

    & :nth-child(1) {
        margin-bottom: .8rem;
    }

    & a {
        text-decoration: none;
        color: var(--main-white);
        font-weight: 600;
    }
}

.mobile_whatsapp_button {
    position: -webkit-sticky;
    position: sticky;
    bottom: .8rem;
    left: calc(100% - 7.2rem);
    width: 5.6rem;
    height: 5.6rem;
    background-image: url(./assets/icons/whatsapp_color.svg);
    background-size: cover;
    margin-top: -7rem;
}

@media (min-width: 640px) {
    header {
        & .logo {
            margin-left: 3.2rem;
        }

        & .menu-button {
            display: none;
        }

        & nav {
            display: block;

            & ul {
                display: flex;
                align-items: center;

                & li {
                    list-style: none;
                    font-size: 2rem;
                    font-weight: 600;
                    color: var(--main-black);
                    margin: 0 2rem;
                    text-align: center;
                }
            }
        }
    }

    .mobile-menu {
        display: none;
    }

    main {
        & .about-us {
            & .about-us--hero {
                background-position: bottom;
                background-image: url(https://i.postimg.cc/3rLZmgq4/hero-img-tablet-compressed.jpg);

                & .about-us--hero--transparency {
                    & .about-us--buttons {
                        flex-direction: row;

                        & .about-us--services-button,
                        .about-us--contact-button {
                            margin: 5rem 2rem 0 2rem;
                        }
                    }
                }
            }
        }

        & .services {
            height: 48rem;

            & .services--info {
                margin: 0 2.4rem;
                display: grid;
                grid-template-columns: 50% 50%;
            }
        }

        & .contact-us {
            height: 88rem;

            .map {
                width: 600px;
                height: 500px;
            }
        }
    }

    .active {
        color: var(--red);
    }
}

@media (min-width: 1024px) {
    header {
        height: 8vh;

        & .header--contact {
            display: flex;
            flex-direction: column;
            text-align: end;
            margin-right: 4.5rem;
            gap: 0.4rem;

            & a,
            div {
                color: var(--main-black);
                font-size: 1.4rem;
                font-weight: 400;
            }

            & .header--contact--whatsapp {
                display: flex;
                justify-content: end;
                align-items: center;

                & .header--whatsapp-icon {
                    width: 1.8rem;
                    height: 1.8rem;
                    margin-right: 0.5rem;
                }
            }

            & .header--contact--email {
                display: flex;
                justify-content: end;
                align-items: center;

                & .header--email-icon {
                    margin-right: 0.5rem;
                }
            }
        }
    }

    main {
        & .about-us {
            height: 92vh;

            & .about-us--hero {
                background-image: url(https://i.postimg.cc/DfbqJt1D/hero-img-desktop-compressed.jpg);
                background-position: center;
            }
        }

        & .services {
            height: 48rem;

            & .services--info {
                display: grid;
                grid-template-columns: 25% 25% 25% 25%;
                margin-top: 9.6rem;
            }
        }

        & .contact-us {
            & .contact-us--info {
                width: 100%;
                display: flex;
                justify-content: space-evenly;
                margin-bottom: 2rem;

                &>div {
                    max-width: 26rem;
                    justify-content: space-evenly;
                }
            }

            .map {
                width: 800px;
                height: 600px;
            }
        }
    }

    .mobile_whatsapp_button {
        display: none;
    }
}