header {
    & .logo {
        margin-left: 3.2rem;
    }

    & .menu-button {
        display: none;
    }

    & nav {
        display: block;

        & ul {
            display: flex;
            align-items: center;

            & li {
                list-style: none;
                font-size: 2.2rem;
                font-weight: 600;
                color: var(--main-black);
                margin: 0 2rem;
                text-align: center;
            }
        }
    }
}