header {
    & .logo {
        margin-left: 3.2rem;
    }

    & .menu-button {
        display: none;
    }

    & nav {
        display: block;

        & ul {
            display: flex;
            align-items: center;

            & li {
                list-style: none;
                font-size: 2.2rem;
                font-weight: 600;
                color: var(--main-black);
                margin: 0 2rem;
                text-align: center;
            }
        }
    }
}

main {
    & .about-us {
        & .about-us--hero {
            background-position: bottom;

            & .about-us--hero--transparency {
                & .about-us--buttons {
                    flex-direction: row;

                    & .about-us--services-button,
                    .about-us--contact-button {
                        margin: 5rem 2rem 0 2rem;
                    }
                }
            }
        }
    }

    & .services {
        height: 48rem;

        & .services--info {
            margin: 0 2.4rem;
            display: grid;
            grid-template-columns: 50% 50%;
        }
    }

    & .contact-us {
        height: 88rem;

        .mobile-map {
            display: none;
        }

        .tablet-map {
            display: flex;
        }
    }
}